<select (change)="onChange($event.target.value)">
  <option value="allTaps" selected="selected">All Taps</option>
  <option value="lowTaps">Low Taps</option>
  <option value="justTapped">Just Tapped</option>
</select>

<ul>
  <li class="taps" *ngFor="let currentTap of childTapList | tapLevel:filterByFullness">
    <ul class="tap-info">
      <li>Name: {{currentTap.name}}</li>
      <li>Brand: {{currentTap.brand}}</li>
      <li>Price: ${{currentTap.price}}</li>
      <li>ABV: {{currentTap.abv}}%</li>
      <li>Keg Life: {{currentTap.fullness}}</li>
    </ul>
    <button (click)="editButtonClicked(currentTap)">Edit</button>
    <app-sell-tap [childSelectedTap]="currentTap" (clickedSell)="parentSellTap($event)"></app-sell-tap>
  </li>
</ul>
